 {%extends 'base.html.njk'%}


 {%block body%}
   
    <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Menu</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#" value ="MOST_LIKED_FOSSILS[0]">Australopithecus</a>
    <a href="#">Quetzal</a>
    <a href="#">Stegosaurus</a>
    <a href="#">Tyrannosaurus Rex</a>
  </div>
</div>
 {%endblock%}